
<ng-container *ngFor="let personaje of personajes">
    <mat-card class="personaje-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{personaje.name}}</mat-card-title>
            <mat-card-subtitle>{{personaje.species}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{personaje.image}}" alt="Foto de {{personaje.name}}">
    </mat-card>
</ng-container>


